.tag-cloud {
  text-align: center;

  a {
    display: inline-block;
    margin: 10px;
    font-size: 14px;
    color: #ccc;
    transition: all ease-in .2s;


    &:hover{
      transform: scale(1.3);
      color: #111;
    }
  }
}